{% extends "layout.j2" %}
{% block content %}
<div class="row">
    <h1>Resetting data</h1>
    <p>Converting json to ElasticSearch format <code>{{ game_conversion_success }}</code></p>
    <p>DELETE <code>{{ responses['delete'].status_code }}</code></p>
    <pre>{{ responses['delete'].content }}</pre>

    <p>PUT <code>{{ responses['put'].status_code }}</code></p>
    <pre>{{ responses['put'].content }}</pre>

    <p>POST: <code>{{ responses['post'].status_code }}</code></p>
    <pre>{{ responses['post'].content }}</pre>
</div>
{% endblock %}