/* Account for the header/footer */ 
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.game {
  width: 300px;
  height: 250px;
  overflow-y: hidden;
  border: 1px solid #f0f0f0;
  padding: 0 30px 0 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin: 10px;
  font-size: 10px;
}

.game .title {
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 5px;
  font-size: 14px;
}

.bgg-id {
  position: relative;
  top: 220px;
  text-align: right;
  width: 260px
}
.game .mechanics {
  font-size: 10px
}

.game .rating {
  float: right;
}

.interested {
  margin-top: 20px;
}

.mechanics {
  margin-top: 20px;
}

.game .mechanics-icon {
  margin-right: 2px;
}

.glyphicon {
  color: #f0f0f0;
}
